<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>TWILIO_ACCOUNT_SID</key>
		<string>account_sid from twilio.com/console</string>
		<key>TWILIO_AUTH_TOKEN</key>
		<string>auth_token from twilio.com/console</string>
	</dict>
	<key>Label</key>
	<string>com.midsandhighs.twilio</string>
	<key>ProgramArguments</key>
	<array>
		<string>/path/to/your/python3</string>
		<string>/path/to/vaxtrack.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/vaxtrack.log</string>
	<key>StartInterval</key>
	<integer>3600</integer>
</dict>
</plist>
